/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Montserrat:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
/* GENERAL */

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #d5cbe5;
}

li {
  list-style: none;
  padding: 5px 0;
}

ul {
  padding: 20px;
}

/* LAYOUT */

:root {
  --button-color: #7068a7;
  --background-color: #e7e1f1;
  --accent-colot: #A294F9;
  --main-color: #283D3B;
  --secondary-color: #666666;

}

#grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

#header {
  grid-area: header;
  background-color: white;
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--button-color);
  display: grid;
  grid-template-rows: 60px 1fr 180px;
  gap: 25px;
  font-weight: bold;
  z-index: 1;
}

#main {
  grid-area: main;
  background-color: var(--background-color);
}

/* SIDEBAR */

#sidebar {
  color: white;
  font-size: 1.3em;
}

.logo {
  font-size: 1.4em;
}

.side-bar-section li {
  display: flex;
  line-height: 2;
}

.logo-section  {
  display: flex;
}

.side-bar-section svg, .logo svg {
  margin-right: 20px;
  height: 27px;
  width: 27px;
  fill: white;
  align-self: center;
}

.logo svg {
  height: 35px;
  width: 35px;
}

/* HEADER */

#header {
  display: grid;
  grid-template-rows: 95px 1fr;
  box-shadow: 0 5px 14px #dcd8e2;
  z-index: 1;
}

.header-first {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  align-content: space-between;
  margin-top: 20px;
}

img.bird {
  height: 55px;
  border-radius: 50px;
}

#search-bar {
  margin-left: 20px;
  height: 30px;
  width: 700px;
  border-radius: 20px;
  border: none;
  background-color: var(--background-color);
}

#search-bar:focus {
  outline: none;
  border: 2px solid var(--accent-colot);
}

.search {
  display: flex;
  align-items: center;
  justify-content: start;
}

.search svg {
  height: 25px;
  width: 25px;
  margin-left: 55px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: end;
  margin-right: 70px;
}

.profile svg {
  height: 25px;
  width: 25px;
}

.profile p {
  font-weight: 700;
}

.header-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 25px;
}

.button-container {
  justify-self: end;
  margin-right: 150px;
  margin-top: 15px;
}

.button-container button {
  margin: 0 10px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: var(--button-color);
  border: none;
}

.profile-grid {
  margin-left: 150px;
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "logo text"
  "logo text";
  align-items: center;
}

.profile-grid img {
  height: 100px;
  grid-area: logo;
}

.profile-grid > p {
  grid-area: text;
}

.profile-grid > p > span {
  font-weight: 800;
  font-size: 1.7em;
}

/* MAIN */

#main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
  "card announce"
  "card trends";
}

#cards{
  grid-area: card;
}

#announce {
  grid-area: announce;
}

#trends {
  grid-area: trends;
  
}

/* MAIN */

.side-container {
  margin: 0 auto;
  background-color: white;
  width: 250px;
  height: 280px;
  border-radius: 10px;
  align-self: self-start;
}

h2 {
  font-size: 1.3em;
}

.dashboard-side h2 {
  padding: 10px 0 15px 27px;
}

.dashboard-card h2 {
  padding-bottom: 15px;
  padding-left: 7px;
}

#announce h2 {
  padding-top: 25px;
}

.dashboard-card {
  padding: 25px 0 10px 20px;
}

/* CARD */

.card {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  border-left: 6px solid var(--accent-colot);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: end;
}

#card-container {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;
}

#card-container p {
  color: var(--secondary-color);
  padding-top: 5px;
}

.card svg {
  width: 25px;
  height: 25px;
  justify-self: end;
  display: inline-block;
}

button:hover {
  background-color: #8079b1;
  cursor: pointer;
}

/* TRENDS AND ANNOUNCEMENTS */

#announce .side-container {
  display: grid;
  gap: 15px;
  padding: 30px;
  border: none;
}

#announce .side-container h3 {
  font-size: 0.9em;
}

#announce .side-container p {
  font-size: 0.7em;
  color: var(--secondary-color);
}

#announce .side-container div:nth-child(1), #announce .side-container div:nth-child(2) {
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 10px;
}

#trends .side-container {
  padding: 15px;
}

#small-profiles {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 4px;
  padding: 9px 0;
  font-size: 0.9em;
  color: var(--secondary-color);
}

#small-profiles img {
  height: 45px;
}

#small-profiles span {
  font-weight: 500;
  color: var(--main-color);
}

